.App {
  text-align: center;
}

h1 {
  color: #fff;
}

body {
  background-image: linear-gradient(to bottom right, #891638, #cecacc);
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  /* position: absolute; */
  /* width: 100%; */
}

.main > p {
  color: #fff;
}

/* cards */
.cards-container {
  width: 90%;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* select component design */
fieldset {
  border: 2px solid #891638 !important;
}

.MuiSelect-select.MuiSelect-outlined.MuiInputBase-input {
  color: #891638;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
}
