.groups-container {
  padding: 3% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 90%;
  height: 100%;
}

.group-container {
  border-radius: 5px;
  width: 160px;
  height: 150px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin: 5px 0;
  background-color: #fff;
  cursor: pointer;
}

.countries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.country-container {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 50px;
  margin: 1%;
}

#id-0,
#id-1 {
  align-items: flex-end;
}

#id-2,
#id-3 {
  align-items: flex-start;
}

.group-name {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  width: 25%;
  display: flex;
  border-radius: 50%;
  background-color: rgba(137, 22, 56, 1);
  justify-content: center;
  align-items: center;
  height: 25%;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border: 1px solid #fff;
}

.group-container:hover .group-name {
  display: flex;
}

img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .group-container {
    width: 300px;
    height: 300px;
  }
  .country-container{
    width: 40%;
  }
}
